package {{.PackageName}}

import (
	"github.com/michaeldcanady/go-onedrive/internal/di"
	"github.com/spf13/cobra"
)

// Create{{.StructName}}Cmd constructs and returns the cobra.Command for the {{.CommandName}} operation.
func Create{{.StructName}}Cmd(container di.Container) *cobra.Command {
	var opts Options

	cmd := &cobra.Command{
		Use:   "{{.CommandName}} [args]",
		Short: "Short description of {{.CommandName}}",
		Long:  "Detailed description of {{.CommandName}}.",
		RunE: func(cmd *cobra.Command, args []string) error {
			opts.Stdout = cmd.OutOrStdout()
			
			l, _ := container.Logger().CreateLogger("{{.CommandName}}")
			handler := NewHandler(container, l)
			return handler.Handle(cmd.Context(), opts)
		},
	}

	// cmd.Flags().BoolVarP(&opts.Recursive, "recursive", "r", false, "Flag description")

	return cmd
}
