package {{.PackageName}}

import "io"

// Options defines the configuration for the {{.CommandName}} operation.
type Options struct {
	// Stdout is the destination for the operation's output messages.
	Stdout io.Writer
}
